:root {
    /* --main-color: #d3ad7f;
    --black: #13131a;
    --bg: #010103;
    */
    /* --border: .1rem solid rgba(255, 255, 255, .3);  */
    --border: 1px solid #4e4e4f; 

    --black: #000000;
    --black-01: #010103;
    --black-02: #13131a;

    --grey-light: #ccc;
    --grey-dark: #4E4E4F;

    --brown-light: #d3ad7f;
    --brown-dark: #5c1e10;
    --brown-darker: #2e0f08;
    --brown-highlight: #a52a2a;

    --white: #ffffff;
}

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;        /* html { font-size: 62.5%  ////9rem = 144px */
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: 0.8rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: var(--white);
    border-radius: 5rem;
}

body {
    background-color: var(--black-01);
    color: var(--grey-light);
}


section {
    padding: 2rem 7%;
    margin: 80px 0 80px 0;
}

section > header > h2 {
    text-align: center;
    color: var(--white);
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem; 
}

section > header > h2 > span {
    text-transform: uppercase;
    color: var(--brown-highlight);


}

.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: .7rem 3rem;
    font-size: 20px;
    color: var(--white);
    background-color: var(--brown-dark);
    cursor: pointer;
}

.btn {
    margin-top: 1rem;
    margin-top: 10px;
    box-shadow: 0 4px 3px var(--black);
    display: inline-block;
    padding: 1.2rem 3rem;
    transition: all .2s;
    position: relative;
    top: 0;
}

.btn:active {
    top: 4px;
    box-shadow: 0 0 3px var(--black); 
}



.btn:hover {
    letter-spacing: .2rem;
}




/* media queries  */
@media (max-width: 991px) {
    .header {
        padding: 1.5rem 2rem;
    }

}

@media (max-width: 768px) {
    #menu-btn {
        display: inline-block;
    }

    .header .navbar {
        position: absolute;
        top: 100%;
        right: -100%;
        background: var(--white);
        width: 30rem;
        height: calc(100vh - 9.5rem);
    }

    .header .navbar.active {
        right: 0;
    }

    .header .navbar a {
        color: var(--black);
        display: block;
        margin: 1.5rem;
        padding: .5rem;
        font-size: 2rem;
    }

    .header .search-form {
        width: 90vw;
        left: 5vw;
        right: 5vw;
    }

    .home {
        background-position: left;
        justify-content: center;
        text-align: center;
    }

    .home .content h3 {
        font-size: 4.5rem;
    }

    .home .content p {
        font-size: 1.5rem;
    }
}