/* ========= header cart container ======================== */

.header__cart {
    position: absolute;
    top: 104%;
    right: -100%;
    height: calc(100vh - 9.5rem);
    overflow-y: scroll;
    width: 28rem;
    background-color: var(--white);
    padding-bottom: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__cart.active {
    right: -3rem;
}

.header__cart__title {
    font-size: 2rem;
    background-color: var(--brown-dark);
    color: var(--grey-light);
    padding: 2rem;
    margin-bottom: 3rem;
    width: 100%;
}

.header__cart__item {
    position: relative;
    margin: 2rem 0;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    width: 90%;
}

.header__cart__item .fa-times {
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    color: var(--black-01);
}

.header__cart__item .fa-times:hover {
    color: var(--brown-highlight);
}

.header__cart__item img {
    height: 4rem;
}

.header__cart__item__content__h3 {
    color: var(--black);
    padding-bottom: .5rem;
}

.header__cart__item__content__price {
    color: var(--main-color);
}

/* this button has .btn base style + .btn style (this) */
.header__cart .btn {
    text-align: center;
    position: relative;
    width: 60%;
    margin-top: auto;
}


