/* ========= header cart container ======================== */

/* .header .cart-items-container, */
.header__cart {
    position: absolute;
    top: 100%;
    /* right: 0; */
    right: -100%;
    height: calc(100vh - 9.5rem);
    width: 35rem;
    background-color: #fff;
    padding: 0 1.5rem;
    display: flex;
    flex-direction: column;
}

/* .header .cart-items-container.active, */
.header__cart.active {
    right: 0;
}

/* .header .cart-items-container .cart-item { */
.header__cart__item {
    position: relative;
    margin: 2rem 0;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.header__cart__item .fa-times {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    cursor: pointer;
    color: var(--black);
}

.header__cart__item .fa-times:hover {
    color: var(--main-color);
}

/* .header .cart-items-container .cart-item img, */
.header__cart__item img {
    height: 7rem;
}

.header__cart__item__content__h3 {
    font-size: 2rem;
    color: var(--black);
    padding-bottom: .5rem;
}

.header__cart__item__content__price {
    font-size: 1.5rem;
    color: var(--main-color);
}

/* this button has .btn base style + .btn style (this) */
.header__cart .btn {
    text-align: center;
}


/* ========= end header cart container ======================== */