#header {
    background: var(--black-01);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 7%;
    border-bottom: var(--border);
    position: fixed;           /* header { position:fixed and the .search-form { position:absolute; top 115%  } -- */
    top: 0; 
    left: 0;         
    right: 0;
    z-index: 1000;   
}

.header__logo__img {
    height: 6rem;
}

.header__navbar {
    margin-left: auto;
    margin-right: 5%;
}

.header__navbar__a {
    margin: 0 2rem;
    font-size: 1.6rem;
    color: var(--brown-light);
    color: var(--grey-medium);
    border-bottom: .1rem solid transparent;
    padding-bottom: .5rem;
    cursor: pointer;
}

.header__navbar__a:hover {
    color: var(--brown-rusty-highlight);
    border-bottom-color: var(--brown-rusty-highlight);
}

/* each icon - cart, search, menu are i  */
.header__icons__icon {
    cursor: pointer;
    height: 2.6rem;
    margin-left: 2rem;
    cursor: pointer;
}

#menu-btn {
    display: none;
}


/* media queries in rem (will be relative to default font-size 16 !!!! ) */
/* @media screen and (max-width: 1039px) {    1039/16px = 64.9375 rem  */
@media screen and (max-width: 64.94rem) {

    #header {
        position: fixed;
        padding: 1.5rem 5%;
        background: var(--black-01);
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .header__logo {
        order: 1;
    }

    .header__navbar {
        order: 3;
        position: absolute;
        top: 102%;
        left: -105%;
        background-color: var(--black-transparent); 
        width: 33%;
        min-width: 300px;
        min-height: 100vh;
        margin-left: 0;
        margin-right: 0;
        border-right: .2rem solid var(--grey-dark);
        transition: all .7s;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 6rem 2rem 12rem 2rem;
 
    }

    .header__navbar.active {
        left: 0;
    }

    .header__navbar__a {
        display: block;
    }

    .header__icons {
        order: 2;
    }

    .header__icons {
        width: auto;
        min-width: 15rem;
        display: flex;
        justify-content: space-between;
    }

    /* each icon - cart, search, menu are i  */
    .header__icons__icon {
        cursor: pointer;
        height: 2.6rem;
        margin-left: 1.4rem;
    }

    #menu-btn {
        display: block;
    }

}



