#header {
    background: var(--bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 7%;
    border-bottom: var(--border);
    position: fixed;           /* header { position:fixed and the .search-form { position:absolute; top 115%  } -- */
    top: 0; 
    left: 0;         
    right: 0;
    z-index: 1000;   
}

.header__logo__img {
    height: 6rem;
}

.header__navbar__a {
    margin: 0 1rem;
    font-size: 1.6rem;
    color: #fff;
    color: var(--main-color);
    border-bottom: .1rem solid transparent;
    padding-bottom: .5rem;
}

.header__navbar__a:hover {
    color: var(--main-color);
    border-bottom-color: var(--main-color);
}

/* each icon - cart, search, menu are i  */
/* .header__icons div ------------ change this later */
.header__icons__icon {
    color: #fff;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}


/* .header__icons div:hover  -----------------change this later  */
.header__icons__icon:hover {
    color: var(--main-color);
}

#menu-btn {
    display: none;
}

.header__search-form {
    position: absolute;
    top: 115%;
    right: 7%;
    /* background: #555; */
    /* background: #fff; */
    background-color: #000;
    border: 2px solid #333;
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    padding: 0 1.5rem;

    /* this is the header form and you show it on click  */
    /* 1. create    2. hide    3. click button and show/hide */
    /* form initial height = 0  */
    /* when changes the height grows with fixed point at the top */
    transform: scaleY(0);        
    transform-origin: top;
}

.header__search-form.active {
    transform: scaleY(1);
}

/* .header__search-form input     ---------- change this later  */
.header__search-form input {
    flex: 1;
    height: 100%;
    font-size: 1.6rem;
    color: var(--black);
    color: #ccc;
    text-transform: none;
    background-color: inherit;
}

/* .header__search-form label     ---------- change this later  */
.header__search-form label {
    cursor: pointer;  
    font-size: 2.2rem;
    color: var(--black); 
    color: #ccc;
    height: 100%;
    display: flex;
    align-items: center;
    color: var(--main-color);
}

/* .header__search-form label:hover     ---------- change this later  */
.header__search-form label:hover {
    color: var(--main-color);
}





