
.hero {
    min-height: calc(100vh - 80px); 
    margin-top: 80px;
    display: flex;
    align-items: center;
    background-image: url(../images/home-img-darker.jpg);
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center;
}

.hero__header {
    padding: 4rem 0 3.5rem 10%;
}

.hero__header__h1 {
    text-transform: uppercase;
    text-align: left;
}
 
 .hero__header__h1 span {
     color: var(--brown-rusty-highlight);
     display: block;
 }

.hero__header {
    max-width: 60rem;
}

.hero__header__p {
    line-height: 1.8;
    padding: 1rem 1rem 1rem 0;
    color: var(--white);
    color: var(--grey-light);
}


@media screen and (max-width: 580px) {

    .hero {
        padding-left: 10px;
        padding-right: 10px;
    }

}
