
section.about {
    border: 2px solid var(--grey-dark);
}

.about {
    width: auto;
    display: flex;
}

.about-flex-padding-left,
.about-flex-padding-right {
    flex-basis: 9.3rem;
    flex-shrink: 4;
    background-color: transparent;
}

.about__container {
    flex-basis: 100rem;
    flex-grow: 1;
}

.about__header {
    padding-bottom: 3.5rem;
}

.about__header__h2 {
    text-align: center;
    margin-top: 3rem;
}

.about__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    padding: 2rem;
}

.about__content__left {
    width: 50%;
    display: flex;
    align-items: stretch;
}

.about__content__left__img {
    display: block;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

.about__content__right {
    width: 50%;
    padding: 2rem;
}

.about__content__right__p {
    line-height: 1.6;
    margin: 1.5rem 0;
}

.about__btn {
    padding: .9rem 2.2rem;
}

@media screen and (max-width: 60.75rem) {
    .about__header {
        padding-bottom: 2.5rem;
    }
    
    .about__content {
        align-items: stretch;
        gap: 0;
    }
}


@media screen and (max-width: 39.125rem) {

    .about-flex-padding-left,
    .about-flex-padding-right {
        width: 3.5rem;
    }

    .about__container {
        max-width: 90%;
    }

    .about__header {
        padding-bottom: 0;
    }
    
    .about__header__h2 {
        text-align: center;
        margin-top: 3rem;
    }

    .about__content {
        flex-direction: column;
        gap: 2rem;
        padding: 2rem 0 0 0;
    }

    .about__content__left {
        width: 100%;
    }

    .about__content__right {
        width: 100%;
        padding: 1rem 0 1rem 0;
    }

}

