
.menu__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
}

.menu__container__item {
    padding: 2rem;
    text-align: center;
    border: 2px solid var(--brown-darker);
    background-color: var(--brown-darker); 
    background-color: var(--black);
    border-radius: 8px;
    padding: 3rem 0;
    margin: 20px;
}

.menu__container__item:hover{
    border-color: var(--brown-rusty-highlight);
    border-radius: 8px;
}

.menu__container__item__img {
    height: 10rem;
}
    
.menu__container__item__h3 {
    padding: 1rem 0;
}

.menu__container__item__price { 
    padding: .5rem 0;
    color: var(--white);
}

.menu__container__item__price span { 
    text-decoration: line-through;
}

.menu__container .btn {
    padding: 1rem 2.5rem;
}





@media screen and (max-width: 768px) {
    
    .menu__container__item__img {
        height: 5rem;
    }

}