
.menu__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
}

.menu__container__item {
    padding: 2rem;
    text-align: center;
    border: 2px solid var(--brown-darker);
    background-color: var(--brown-darker); 
    border-radius: 8px;
    padding: 3rem 0;
    margin: 20px;
}

.menu__container__item:hover{
    border-color: var(--brown-highlight);
    border-radius: 8px;
}

.menu__container__item__img {
    height: 10rem;
}
    
.menu__container__item__h3 {
    color: var(--white);
    /* font-size: 2rem; */
    padding: 1rem 0;
}

.menu__container__item__price { 
    color: var(--white);
    /* font-size: 2.5rem; */
    padding: .5rem 0;
}

.menu__container__item__price span { 
    /* font-size: 1.5rem; */
    text-decoration: line-through;
}

.menu__container .btn {
    /* font-size: 16px; */
    padding: 1rem 2.5rem;
}

/* ======================= */





@media screen and (max-width: 768px) {
    
    .menu__container__item__img {
        height: 5rem;
    }

}