

.products__container { 
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}


.products__container__product {
    text-align: center;
    border: var(--border);
    border-color: var(--brown-highlight);
    border-width: 4px;
    padding: 2rem;
    background-color: var(--black);
}

.products__container__product:hover {
    background: var(--black-111);
}

.products__container__product:hover .products__container__product__icons a {
    background-color: var(--brown-highlight);
    color: var(--black);
}

.products__container__product__icons a {
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    color: var(--brown-highlight);
    background-color: var(--black-111);
    margin: .3rem;
}

.products__container__product__icons a:hover {
    background: var(--main-color);
}

.products__container__product__image {
    padding: 2.5rem 0;
}

.products__container__product__image img {
    height: 100%;
    height: 16rem;
}

.products__container__product__content__h3 {
    color: var(--white);
}

.rating-stars {
    padding: 1.5rem;
}

.rating-stars i {
    color: var(--brown-highlight);
}

.products__container__product__content__price {
    color: var(--white);
}
    
.products__container__product__content__price span {
    text-decoration: line-through;
    font-weight: lighter;
}


