

.products__container { 
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    gap: 1.5rem;
}

.products__container__product {
    text-align: center;
    border: var(--border);
    border-radius: 8px;
    border-color: var(--brown-darker);
    padding: 2rem;
    background-color: var(--black);
}

.products__container__product:hover {
    border-color: var(--brown-rusty-highlight);
}

.products__container__product__icons a {
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    margin: .3rem;
    border-radius: 50%;
    color: var(--grey-medium);
}

.products__container__product:hover .products__container__product__icons a {
    color: var(--brown-rusty-highlight);
}

.products__container__product__icons a:hover {
    /* background: var(--main-color); */
}

.products__container__product__image {
    padding: 2.5rem 0;
}

.products__container__product__image img {
    height: 16rem;
}

.rating-stars {
    padding: 1.5rem;
}

.rating-stars i {
    color: var(--brown-highlight);
}

.products__container__product__content__price {
    color: var(--white);
}
    
.products__container__product__content__price span {
    text-decoration: line-through;
    font-weight: lighter;
}


