
.reviews__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(21rem, 1fr));
    gap: 1.5rem;
}

.reviews__container__review {
    text-align: center;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 30rem;
    border-radius: 1rem; 
    box-shadow: 0 0 .5rem 0 var(--grey-dark);
}

.review__text__and__quotes {
    display: flex;
    flex-direction: column;
}

.reviews__container__review__quote-left {
    color: var(--brown-dark);
}

.reviews__container__review__header h3 {
    line-height: 1.6;
    color: var(--grey-light);
}

.reviews__container__review__p {
    line-height: 1.6;
    color: var(--grey-light);
    padding: 2rem 0;
}

.reviews__container__review__profile-img {
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    object-fit: cover;
}

.rating-stars {
    padding: 1rem;
}

.reviews .rating-stars i {
    color: var(--brown-highlight);
}

