
.contact__container {
    display: flex;
    background: var(--black);
    flex-wrap: wrap;
    gap: 1rem;
}


/* iframe (google map) */
.shop-location-google-map {
    flex: 1 1 45rem;
    width: 100%;
    object-fit: cover;
    border: 20px solid var(--black);
}

.contact__form {
    flex: 1 1 45rem;
    padding: 5rem 2rem;
    text-align: center;
}

.contact__form__h3 {
    text-transform: uppercase;
    font-size: 3.5rem;
    color: #999493;
}

.contact__form__label {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background: var(--bg);
    border: var(--border);
    padding-left: 2rem;
    padding-right: 2rem;
}

.contact__form__label span {
    font-size: 2rem;
    color:#8a8a93;
}

.contact__form__label input {
    width: 100%;
    padding: 2rem;
    font-size: 1.7rem;
    color: #fff;
    text-transform: none;
    background: none;
}

.contact__form__label > .fas.fa-phone {
    transform: rotate(90deg);
}